body{
    overflow-y: hidden;
}
section#main .jumbotron{
    height: calc(100vh) ;
    background-color: #212121;

}

section#main .description{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100% ;
    color: white ;
}
